@use "../../FunctionSASS/FunctionSASS.scss" as *;

.cart__page {
  // padding: 1em 1em 0em 1em;
  background-color: white;
  border: 1px solid hsl(var(--accent-clr) / 0.8);

  //   display: grid;
  //   outline: 5px solid red;
  position: absolute;
  inset: 0 0 0 0;
  z-index: 101;
  //   overflow: scroll;
  transform: translateX(100%);
  transition: transform ease-in-out 0.1s;

  @include breakpoint("medium") {
    inset: 0% 0 0 50%;
  }
  @include breakpoint("large") {
    inset: 0% 0 0 60%;
  }

  &.show {
    transform: translateX(0);
  }

  &--header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 1px solid hsl(var(--primary-2-clr));
    position: sticky;
    top: 0;

    padding: 1em 1em;

    > p {
      color: hsl(var(--txt-clr));
      font-size: 1.4rem;
    }

    > button {
      padding: 0.1em 0.5em 0.01em 0.5em;
      background-color: transparent;
      border: 2px solid hsl(var(--txt-clr));
      font-weight: 600;

      transition: 0.1s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .cart__parent {
    // outline: 3px solid red;
    padding: 0em 1em 1em 1em;
    // display: grid;
    // grid-template-columns: 1fr;
    // gap: 0.5em;
    overflow-y: scroll;
    height: 75%;
  }

  &--footer {
    padding: 1em;
    background-color: hsl(var(--bg-clr));
    border-top: 1px solid hsl(var(--primary-2-clr));

    position: fixed;
    bottom: 0rem;
    height: 15%;
    width: 100%;
    display: grid;

    > p {
      justify-self: end;
    }

    .cart__empty--message {
      justify-self: center;
      align-self: center;
    }

    .cart_total {
      color: hsl(var(--txt-clr));
      font-weight: 600;
      margin-bottom: 0.3em;
      font-size: 1.1rem;
    }

    > button {
      padding: 0.3em 1em;
      justify-self: end;
      background-color: hsl(var(--txt-clr));
      border-color: hsl(var(--txt-clr));
      border-radius: 0.3rem;
      color: white;
      font-weight: 600;
      letter-spacing: rem(0.5);

      transition: 0.1s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .empty_cart {
    position: fixed;
    z-index: 1;
    inset: 0;
    background-color: white;

    display: grid;
    place-content: center;
    gap: 1rem;
    
    >p{
     color: hsl(var(--txt-clr));
     font-weight: 600;
     font-size: 1.5rem;
    }

    > button {
      padding: 0.3em 0.5em;
      background-color: transparent;
      border: 2px solid hsl(var(--txt-clr));
      color: hsl(var(--txt-clr));
      font-weight: 600;
      border-radius: .3rem;
      transition: 0.1s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
