@use "../../FunctionSASS/FunctionSASS.scss" as *;
.address__radio--btn:checked {
  + .modal__address--container > .circle__address--checked {
    background-color: hsl(var(--accent-clr));
    outline-offset: 2px;
  }
}

.modal__address--container {
  //   cursor: pointer;
  margin-bottom: 0.8rem;
  padding-bottom: 0.5em;
  padding-left: 1em;
  // outline: 1px solid red;
  border-bottom: 1px solid hsl(var(--accent-clr));
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  border-radius: 0.1rem;

  .circle__address--checked {
    margin-top: 0.4rem;
    padding: 0.5em;
    width: 18px;
    height: 18px;
    border-radius: 100%;

    outline: 2px solid hsl(var(--txt-clr));
    align-self: flex-start;
  }

  > label {
    cursor: pointer;
    width: 100%;

    .contactPerson {
      color: hsl(var(--txt-clr));
      font-weight: 600;
    }

    .deliveryAddress {
      color: hsl(var(--accent-clr));
      // font-weight: 600;
      // font-size: .9rem;
    }
  }

  > button {
    align-self: flex-start;
    background-color: transparent;
    border-color: transparent;
    color: hsl(var(--txt-clr) / 0.7);

    &:hover {
      color: hsl(var(--txt-clr));
    }
  }
}
