@use "../../FunctionSASS/FunctionSASS.scss" as *;

.orderProduct {
  margin-top: 1rem;
  // outline: 1px solid red;
  background-color: white;

  padding: 1em;

  border: 2px solid hsl(var(--accent-clr) / 0.1);

  @include breakpoint("medium") {
    // background-color: red;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.5em;

    .order__id {
      > span:first-child {
        color: hsl(var(--accent-clr) / 0.9);
        font-weight: 600;
      }
      > span:last-child {
        color: hsl(var(--txt-clr));
        font-weight: 600;
      }
    }

    .order__status {
      color: hsl(var(--txt-clr) / 0.8);
      font-weight: 600;
    }
  }

  &__container {
    // outline: 1px solid red;
    padding-block: 1em;

    border-block: 1px solid hsl(var(--txt-clr));

    display: flex;
    gap: 1.5rem;
    // grid-template-columns: 1fr 2fr;

    &--description {
      display: grid;
      width: 100%;
      // outline: 1px solid red;

      @include breakpoint("medium") {
        display: flex;
        justify-content: space-between;
      }

      > div:first-child {
        //
        @include breakpoint("medium") {
          align-self: center;
          // outline: 1px solid red;
          display: flex;
          flex-direction: row-reverse;
          align-items: center;

          width: 100%;
        }

        .orderProduct__title {
          // outline: 1px solid red;
          width: 100%;
          height: 3.125rem;
          //   width: 85%;
          font-size: 1rem;
          word-wrap: break-word;
          white-space: normal;
          overflow: hidden;
          display: -webkit-box;
          text-overflow: ellipsis;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;

          color: hsl(var(--txt-clr));
          // font-weight: 600;
          font-size: 1.1rem;

          @include breakpoint("large") {
            // display: flex;
            // align-items: center;
          }
        }

        .orderProduct__category {
          text-transform: uppercase;
          color: hsl(var(--txt-clr));

          font-size: 0.8rem;
          font-weight: 600;

          @include breakpoint("medium") {
            width: 100%;
            text-align: center;
            color: hsl(var(--txt-clr));
          }
        }
      }

      > div:last-child {
        // outline: 1px solid red;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        @include breakpoint("medium") {
          align-self: center;
          width: 57%;
        }

        .orderProduct__price {
          color: hsl(var(--accent-clr) / 0.9);
          font-weight: 600;
        }

        .orderProduct__subtotal {
          color: hsl(var(--accent-clr));
          font-weight: 600;
          font-size: 1.1rem;
        }

        .orderProduct__quantity {
          color: hsl(var(--accent-clr));
          font-weight: 600;
          // font-size: rem(16);
        }
      }
    }
  }

  &__footer {
    padding-block: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    > div:first-child {
      display: flex;
      flex-direction: column;
      gap: 0.2rem;

      > p {
        //   color: red;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        //   gap: .5rem;
        column-gap: 0.5rem;

        > span:first-child {
          color: hsl(var(--txt-clr) / 0.8);
          font-weight: 600;
        }

        > span:last-child {
          // outline: 1px solid red;
          // display: block;
          // width: 100px;
          // max-width: 100px;
          font-weight: 600;
          color: hsl(var(--txt-clr));
        }
      }
    }

    > div:last-child {
      //
      .orderPaymentMethod {
        color: hsl(var(--txt-clr) / 0.7);
        font-weight: 600;
      }
    }
  }
}
